.projects-container {
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  text-align: left;

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;

    .project {
      margin-block-end: 0;
      margin-block-start: 0;
      padding: clamp(1rem, 2vw, 2rem);
      border-radius: 10px;
      text-align: left;
      transition: transform 0.2s ease-in-out, box-shadow 0.3s ease,
        background-color 0.3s ease;

      &:hover {
        transform: scale(1.002);
      }

      .store-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        margin-top: 10px;

        a {
          display: inline-flex;

          img {
            height: 40px;
            transition: transform 0.2s ease-in-out;

            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

.project h2:hover {
  text-decoration: underline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.zoom {
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  margin: 0 auto;

  &:hover {
    transform: scale(1.05);
  }
}

/* Mobile responsiveness */
@media (max-width: 700px) {
  .projects-container {
    display: block;
    padding: 0 5%;

    .projects-grid {
      display: block;

      .project {
        padding-bottom: 5%;
      }
    }
  }
}

/* Dark mode overrides */
.dark-mode {
  .project {
    &:hover {
      box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.15);
    }
  }
}

/* Dark mode overrides */
.light-mode {
  .project {
    &:hover {
      box-shadow: 0px 10px 15px #0d1116aa;
    }
  }
}
